@model IEnumerable<Domain.Table.Event>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaxParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numbParticipants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Neighborhood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.waitEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.confirmEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizer.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SportGame.SportName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numbParticipants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Neighborhood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.waitEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.confirmEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizer.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SportGame.SportName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
